@model HospitalProject_Team4.Models.Donation
@{
    ViewBag.Title = "DeleteConfirm";
}

    <h2>Are you sure you want to delete @Model.ApplicationUser.UserName ?</h2>
<div class="navbar">
    <a href="/Donation/Show/@Model.DonationID">Cancel</a>
</div>
<form method="POST" action="/Donation/Delete/@Model.DonationID">
    <div class="inpfield"><input type="submit" value="Confirm" /></div>
</form>
