@{
  ViewBag.Title = "Add";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <title>Add New Volunteer</title>
</head>
<body>

    <div class="errorbox">
        @{
            if (ViewBag.ErrorMessage != null)
            {
                @ViewBag.ErrorMessage
                <ul>
                    @foreach (var Error in ViewBag.Errors)
                    {
                        <li>@Error</li>
                    }
                </ul>
            }
        }

    </div>
    <div class="container">
        <div class="row">

            <form method="POST" action="/VolunteerRecruitment/Add" enctype="multipart/form-data">
                <div class="section_header">Account Details</div>
                <div class="inpfield">
                    <span>User Name:</span>
                    <input type="text" name="Username" id="Username" />
                </div>
                <div class="inpfield">
                    <span>Phone Number:</span>
                    <input type="text" name="phoneNumber" id="phoneNumber" />
                </div>
                <div class="inpfield">
                    <span>Email:</span>
                    <input type="text" name="Useremail" id="Useremail" />
                </div>
                <div class="inpfield">
                    <span>Password:</span>
                    <input type="password" name="Userpass" id="Userpass" />
                </div>


                <div class="section_header">Volunteer Details</div>
                <!-- <span>File Upload: </span>
    <input type="file" name="uploadCV" id="uploadCV" />-->
                <div class="inpfield">
                    <span>Volunteer Specialization: </span>
                    <input id="volunteerSpecialization" type="text" name="volunteerSpecialization" />
                </div>
                <div class="inpfield">
                    <input type="submit" value="Add Volunteer">
                </div>
            </form>

        </div>
    </div>
</body>
</html>
